.add-products {
  position: relative;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-top: 10px;

  &::before {
    position: absolute;
    content: "";
    top: 10px;
    left: 50%;
    height: 3px;
    width: 100vw;
    margin-top: 12px;
    transform: translateX(-50%);
    background-color: #68b738;
    z-index: 1;
  }
}

.add-products__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 38px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  z-index: 2;
}

.add-products__container {
  margin-bottom: 30px;
}

.add-products__promo {
  position: relative;
  display: block;
  height: 100px;
  padding-top: 188px;
  padding-left: 50px;
  padding-right: 50px;
  background: rgba(104, 183, 56, 0.85);
  color: #ffffff;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -39px;
    width: 78px;
    height: 80px;
    background-image: url("../img/icon_gift.svg");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 183, 56, 0.85);
    background-image: url("../img/gift-photo-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    opacity: 0.2;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
      background-size: 280px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .add-products {
    width: 92%;
    padding-top: 47px;
    padding-left: 30px;
    padding-right: 30px;

    &::before {
      top: 59px;
    }
  }

  .add-products__title {
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding-right: 35px;
    padding-left: 35px;
    margin-bottom: 80px;
  }

  .add-products__container {
    margin-bottom: 70px;
  }

  .add-products__promo {
    height: 200px;
    padding: 70px 15% 28px 60%;
    margin-bottom: 75px;
    text-align: left;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;

    &::before {
      top: 65px;
      left: 90px;
      margin-left: 0;
    }

    &::after {
      background-image: url("../img/gift-photo-tablet.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/gift-photo-tablet@2x.jpg");
        background-size: 100% auto;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .add-products {
    width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 57px;
    margin-bottom: 18px;
  }

  .add-products__title {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: -30px;
    width: 373px;
  }

  .add-products__wrapper {
    display: flex;
    justify-content: space-between;
    grid-template-columns: 1fr 373px;
  }

  .add-products__promo {
    width: 245px;
    height: 288px;
    padding: 186px 42px 0;
    margin-bottom: 0;
    margin-left: 80px;
    text-align: center;

    &::after {
      background-image: url("../img/gift-photo-desktop.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/gift-photo-desktop@2x.jpg");
      }
    }
  }

  .add-products__container {
    flex-grow: 1;
  }
}
