.contacts__wrapper {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contacts__content {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__info {
  line-height: 20px;
}

