.contacts {
  background-color: #ffffff;
}

.contacts__wrapper {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__content {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.contacts__info {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  width: 66%;
}

.contacts__map {
  width: 100%;
  height: 362px;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  // background-position: 40% -140px;
  background-size: cover;
  background-color: #fafafa;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    // background-position: 40% -340px;
  }
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 92%;
    padding-top: 52px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
  }

  .contacts__content {
    font-size: 20px;
    line-height: 26px;
    max-width: 175px;
    margin-left: 40px;
  }

  .contacts__info {
    font-size: 16px;
    line-height: 22px;
    max-width: 22%;
    margin-right: 38px;
    margin-top: 5px;
    text-align: right;
  }

  .contacts__info span {
    display: block;
    margin-bottom: 16px;
  }

  .contacts__map {
    height: 400px;
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    left: 2.64%;
    right: 53.12%;
    top: 23.75%;
    bottom: 26.75%;
    width: 565px;
    padding-left: 65px;
    padding-right: 43px;
    box-sizing: border-box;
    background-color: #ffffff;
  }

  .contacts__content {
    margin-left: 15px;
  }

  .contacts__info {
    max-width: 33%;
    margin-top: 18px;
    text-align: left;
  }

  .contacts__info span {
    margin-bottom: 0;
  }

  .contacts__map {
    background-image: url("../img/map.jpg");
    box-sizing: border-box;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/map@2x.jpg");
    }
  }
}
