.example {
  outline: 1px solid #000000;
  padding-top: 20px;
  background: #eaeaea;
}

.example__title {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.example__wrapper {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

.example__description {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.example__item {
  padding-top: 13px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__field {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.example__sum {
  display: block;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.example__img {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.example__wrapper-controls {
  display: flex;
  justify-content: space-between;
  width: 71%;
  margin-left: auto;
  margin-right: auto;
}

.example__controls {
  width: 85px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 18px;
  margin-right: 18px;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  cursor: pointer;
}

.example__toggle {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 0;
    background-color: #ffffff;
  }

  .example__title {
    width: 92%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }

  .example__wrapper {
    width: 92%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
  }

  .example__wrapper-text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example__description {
    width: 100%;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__list {
    width: 50%;
    margin-bottom: 40px;
  }

  .example__item {
    padding-top: 20px;
  }

  .example__value {
    font-size: 30px;
    line-height: 30px;
  }

  .example__field {
    font-size: 14px;
    line-height: 14px;
  }

  .example__sum {
    width: 30%;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
  }

  .example__sum span {
    display: block;
  }

  .example__img {
    width: 660px;
    height: auto;
  }

  .example__wrapper-controls {
    width: 80%;
  }

  .example__controls {
    width: 430px;
  }

  .example__toggle {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 15px;
  }

  .example__title {
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
  }

  .example__container {
    background-color: #f2f2f2;
  }

  .example__wrapper {
    outline: 1px solid #000000;
    position: relative;
    width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .example__wrapper-text {
    outline: 1px solid #000000;
    display: block;
    padding-top: 72px;
    width: 70%;
    z-index: 2;
  }

  .example__description {
    margin-bottom: 70px;
  }

  .example__list {
    width: 85%;
  }

  .example__sum {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }

  .example__wrapper-info {
    outline: 1px solid #000000;
    z-index: 2;
  }

  .example__wrapper-controls {
    padding-left: 0;
    padding-right: 0;
    margin-top: -135px;
  }

  .example__controls {
    width: 420px;
  }
}
