.example {
  padding-top: 20px;
  background: #eaeaea;
}

.example__title {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.example__wrapper {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

.example__description {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.example__item {
  position: relative;
  padding-top: 13px;
  padding-bottom: 15px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__field {
  position: absolute;
  left: 17px;
  right: 17px;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 6px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;
}

.example__sum {
  display: block;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 40px;
}

.example__img {
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.example__wrapper-controls {
  display: flex;
  justify-content: space-between;
  width: 71%;
  margin-left: auto;
  margin-right: auto;
}

.example__controls {
  position: relative;
  width: 85px;
  flex-grow: 1;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 18px;
  margin-right: 18px;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 6px;
    height: 6px;
    width: 40%;
    border-radius: 10px;
    background-color: #68b738;
  }
}

.example__toggle {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    padding-top: 0;
    background-color: #ffffff;
  }

  .example__title {
    width: 92%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
  }

  .example__wrapper {
    width: 92%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
  }

  .example__wrapper-text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 45px;
  }

  .example__description {
    width: 100%;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__list {
    width: 52%;
    margin-bottom: 40px;
  }

  .example__item {
    padding-top: 20px;
  }

  .example__value {
    font-size: 30px;
    line-height: 30px;
  }

  .example__field {
    font-size: 14px;
    line-height: 14px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 15px;
    background-color: #ffffff;
  }

  .example__sum {
    width: 30%;
    margin-top: 0;
    text-align: right;
    font-size: 20px;
    line-height: 20px;

    &:first-child {
      margin-bottom: 8px;
    }
  }

  .example__sum span {
    display: block;
  }

  .example__img {
    width: 592px;
    height: auto;
    margin-bottom: 30px;
  }

  .example__wrapper-controls {
    width: 80%;
    align-items: center;
  }

  .example__controls {
    width: 430px;
    margin-top: 0;
    margin-bottom: 0;
    height: 6px;
    border: 1px solid #dcdcdc;
    background-color: #dcdcdc;
    cursor: none;

    &::before {
      top: 1px;
      left: 50%;
      margin-left: -4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      z-index: 5;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      cursor: pointer;
    }
  }

  .example__toggle {
    font-size: 20px;
    line-height: 30px;
  }

  .example__container {
    background-image: linear-gradient(to top, #eaeaea 462px, #ffffff 50%);
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 15px;
  }

  .example__title {
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
  }

  .example__container {
    background-image: none;
    background-color: #f2f2f2;
  }

  .example__wrapper {
    position: relative;
    width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .example__wrapper-text {
    margin-bottom: 90px;
  }

  .example__wrapper-text {
    display: block;
    padding-top: 72px;
    width: 70%;
    z-index: 2;
  }

  .example__description {
    margin-bottom: 70px;
  }

  .example__list {
    width: 85%;
  }

  .example__field {
    background-color: #f2f2f2;
  }

  .example__sum {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }

  .example__wrapper-info {
    z-index: 2;
  }

  .example__wrapper-controls {
    padding-left: 0;
    padding-right: 0;
    margin-top: -135px;
  }

  .example__controls {
    width: 420px;
  }
}
