.footer {
  background: #f2f2f2;
}

.footer__logo {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social {
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    width: 92%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer__logo {
    align-self: center;
    text-align: left;
    border-bottom: none;
  }

  .footer__social {
    align-self: center;
    border-bottom: none;
  }

  .footer__copyright {
    align-self: center;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    width: 1220px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
