.footer {
  background: #f2f2f2;
}

.footer__logo {
  padding-top: 35px;
  padding-bottom: 30px;
  display: block;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    width: 92%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer__logo {
    align-self: center;
    text-align: left;
  }

  .footer__social {
    align-self: center;
  }

  .footer__copyright {
    align-self: center;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    outline: 1px solid #000000;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
