.main-nav {
  outline: 1px solid #000000;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.main-nav__logo-wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo-wrapper {
    width: 175px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 80%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }
}
