.main-nav {
  outline: 1px solid #000000;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.main-nav__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav--closed .main-nav__toggle {
  width: 26px;
  height: 1px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 -8px 0 0 #000000;
  border: none;
  cursor: pointer;
}

.main-nav--opened .main-nav__toggle {
  position: relative;
  border: none;
  cursor: pointer;
  width: 0;
  height: 0;
  background-color: transparent;
  box-shadow: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 26px;
    height: 2px;
    background-color: #000000;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 26px;
    height: 2px;
    background-color: #000000;
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__logo-wrapper {
  justify-content: flex-start;
  /*display: grid;
  grid-template-columns: 1fr 2fr;*/
}

.main-nav--nojs .main-nav__logo--img-text {
  flex-grow: 1;
  text-align: center;
  margin-left: -33px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 92%;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo-wrapper {
    width: 174px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-nav__list {
    width: 62%;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }
}
