.programs {
  outline: 1px solid #000000;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__item {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 33px;
  margin-bottom: 20px;
  background: #f2f2f2;
}

.programs__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;
}

.programs__description {
  font-family: "Arial", sans-serif;
}

.programs__more {
  display: block;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .programs {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .programs__item {
    padding-left: 55px;
    padding-bottom: 40px;
  }

  .programs__title {
    padding-top: 75px;
    padding-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
  }

  .programs__description {
    margin-bottom: 50px;
    width: 60%;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    width: 80%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }

  .programs__item {
    outline: 1px solid #000000;
  }

  .programs__description {
    width: 100%;
    margin-bottom: 22px;
  }
}
