.promo {
  color: #ffffff;
  outline: 1px solid #000000;
  padding-bottom: 20px;
}

.promo__text {
  background: rgba(104, 183, 56, 0.85);
}

.promo__title {
  padding-top: 25px;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.promo__slogan {
  text-align: center;
  line-height: 14px;
  padding-bottom: 285px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.promo__link {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .promo {
    width: 92%;
    min-height: 835px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid #000000;
  }

  .promo__text {
    padding-left: 80px;
    padding-right: 80px;
    background: none;
  }

  .promo__title {
    padding-left: 0;
    padding-top: 25px;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 44px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
  }

  .promo__slogan {
    position: relative;
    width: auto;
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
  }

  .promo__slogan::after {
    content: "";
    position: absolute;
    bottom: -588px;
    left: -90px;
    width: 709px;
    height: 589px;
    background-image: url("../img/index-can-tablet.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .promo__link {
    width: 192px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 93px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    max-width: 1220px;
    min-height: 630px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .promo__text {
    padding-top: 50px;
    padding-left: 70px;
    max-width: 45%;
  }

  .promo__title {
    margin-bottom: 40px;
  }

  .promo__link {
    margin-left: 70px;
  }

  .promo__slogan {
    margin-bottom: 40px;

    &::after {
      top: -240px;
      left: 365px;
      width: 552px;
      height: 499px;
      background-image: url("../img/index-can-desktop.png");
      z-index: 1;
    }
  }
}
