.promo {
  color: #ffffff;
  padding-bottom: 20px;
}

.promo__text {
  position: relative;
  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 302px, #ffffff 50%);
  background-image:
    linear-gradient(to bottom, transparent 302px, #ffffff 50%),
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/index-background.jpg"),
    linear-gradient(to right, rgb(87, 85, 85), rgb(63, 63, 63));
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      linear-gradient(to bottom, transparent 302px, #ffffff 50%),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/index-background@2x.jpg"),
      linear-gradient(to right, rgb(87, 85, 85), rgb(63, 63, 63));
    background-size: contain;
  }

  /*background-image: url("../img/index-background.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;*/

  /*&::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("../img/index-background.jpg");
    background-color: rgba(104, 183, 56, 0.85);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 320px auto;
    background-blend-mode: overlay;
    opacity: 0.2;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-image: url("../img/index-background@2x.jpg");
    }
  }*/
}

.promo__title {
  padding-top: 25px;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.promo__slogan {
  position: relative;
  text-align: center;
  line-height: 14px;
  padding-bottom: 285px;
  margin-bottom: 20px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-140px);
    width: 280px;
    height: 270px;
    background-image: url("../img/index-can-mobile.png");
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-mobile@2x.png");
      background-size: 280px auto;
    }
  }
}

.promo__link {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .promo {
    width: 92%;
    min-height: 835px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .promo__text {
    padding-left: 80px;
    padding-right: 80px;
    background: none;

    &::before {
      width: 0;
      height: 0;
    }
  }

  .promo__title {
    padding-left: 0;
    padding-top: 25px;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 44px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
  }

  .promo__slogan {
    width: auto;
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
  }

  .promo__slogan::after {
    content: "";
    position: absolute;
    transform: translateX(-354px);
    bottom: -588px;
    width: 709px;
    height: 589px;
    background-image: url("../img/index-can-tablet.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: -1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.png");
      background-size: 709px auto;
    }
  }

  .promo__link {
    width: 192px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 93px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 1220px;
    min-height: 630px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .promo__text {
    padding-top: 50px;
    padding-left: 83px;
    max-width: 45%;
  }

  .promo__title {
    margin-bottom: 40px;
  }

  .promo__link {
    margin-left: 82px;
  }

  .promo__slogan {
    margin-bottom: 40px;

    &::after {
      top: -240px;
      left: 365px;
      transform: translateX(0);
      width: 552px;
      height: 499px;
      background-image: url("../img/index-can-desktop.png");
      z-index: 1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-can-desktop@2x.png");
        background-size: 552px auto;
      }
    }
  }
}
