.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__link {
  display: block;
  padding: 24px 0;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-list__item {
    margin-right: 33px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .site-list__link {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 480px;
  }

  .site-list--main .site-list__link {
    color: #ffffff;
  }
}
