.social {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.social__item {
  margin-right: 25px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}
