body {
  margin: 0;
  padding: 0;
  min-width: 280px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button {
  font: inherit;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #68b738;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .button {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .header {
    position: relative;
    padding-top: 40px;
  }

  .header--main::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: calc(53vw - 40px);
    height: 696px;
    background-color: #64a83b;
    background-size: cover;
  }
}
.main-nav {
  outline: 1px solid #000000;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.main-nav__logo-wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .main-nav {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav__logo-wrapper {
    width: 175px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1300px) {
  .main-nav {
    width: 80%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }
}
.main__title {
  width: 280px;
  padding-top: 15px;
  padding-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

@media (min-width: 768px) {
  .main__title {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1300px) {
  .main__title {
    width: 80%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__link {
  display: block;
  padding: 24px 0;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #000000;
}

@media (min-width: 768px) {
  .site-list {
    outline: 1px solid #000000;
    display: flex;
    flex-wrap: wrap;
    width: 438px;
  }

  .site-list__item {
    margin-right: 33px;
  }
  .site-list__item:nth-child(3n) {
    margin-right: 0;
  }

  .site-list__link {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
  }
}
@media (min-width: 1300px) {
  .site-list {
    width: 480px;
  }

  .site-list--main .site-list__link {
    color: #ffffff;
  }
}
.promo {
  color: #ffffff;
  outline: 1px solid #000000;
  padding-bottom: 20px;
}

.promo__text {
  background: rgba(104, 183, 56, 0.85);
}

.promo__title {
  padding-top: 25px;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.promo__slogan {
  padding-bottom: 200px;
  margin-bottom: 135px;
  text-align: center;
  line-height: 14;
  text-transform: uppercase;
}

.promo__link {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .promo {
    width: 90%;
    min-height: 850px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid #000000;
  }

  .promo__text {
    padding-left: 90px;
    padding-right: 90px;
    background: none;
  }

  .promo__title {
    margin-bottom: 40px;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
  }

  .promo__slogan {
    position: relative;
    width: auto;
    padding-top: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
  }

  .promo__slogan::after {
    content: "";
    position: absolute;
    bottom: -588px;
    left: -90px;
    width: 709px;
    height: 589px;
    background-image: url("../img/index-can-tablet.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .promo__link {
    margin-left: 90px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .promo {
    width: 80%;
    max-width: 1220px;
    min-height: 700px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .promo__text {
    padding-top: 90px;
    max-width: 414px;
  }

  .promo__slogan::after {
    top: -240px;
    left: 365px;
    width: 552px;
    height: 499px;
    background-image: url("../img/index-can-desktop.png");
    z-index: 1;
  }
}
.programs {
  outline: 1px solid #000000;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__item {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 33px;
  margin-bottom: 20px;
  background: #f2f2f2;
}

.programs__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  font-weight: 400;
  text-transform: uppercase;
}

.programs__description {
  font-family: "Arial", sans-serif;
}

.programs__more {
  display: block;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .programs {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .programs__item {
    padding-left: 55px;
    padding-bottom: 40px;
  }

  .programs__title {
    padding-top: 75px;
    padding-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
  }

  .programs__description {
    margin-bottom: 50px;
    width: 60%;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1300px) {
  .programs {
    width: 80%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .programs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }

  .programs__item {
    outline: 1px solid #000000;
  }

  .programs__description {
    width: 100%;
    margin-bottom: 22px;
  }
}
.advantages {
  outline: 1px solid #000000;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 42px;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  outline: 1px solid #000000;
  padding-left: 80px;
  margin-bottom: 21px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .advantages {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }

  .advantages__item {
    padding-top: 110px;
    padding-bottom: 110px;
    padding-left: 0;
    padding-right: 95px;
  }
}
@media (min-width: 1300px) {
  .advantages {
    width: 80%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    padding-right: 0;
    padding-bottom: 50px;
    margin-bottom: 10px;
  }

  .advantages__item {
    padding-right: 0;
    padding-bottom: 50px;
  }
}
.example {
  outline: 1px solid #000000;
  padding-top: 30px;
  background: #eaeaea;
}

.example__title {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}

.example__wrapper {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.example__description {
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.example__item {
  padding-top: 13px;
  padding-bottom: 15px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example__field {
  font-size: 12px;
  line-height: 12px;
}

.example__sum {
  display: block;
  line-height: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.example__img {
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.example__wrapper-controls {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.example__controls {
  width: 85px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 18px;
  margin-right: 18px;
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
  cursor: pointer;
}

.example__toggle {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .example__title {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    margin-bottom: 48px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__wrapper {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .example__wrapper-text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .example__description {
    width: 100%;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__list {
    width: 50%;
    margin-bottom: 40px;
  }

  .example__sum {
    width: 50%;
    text-align: right;
  }

  .example__wrapper-controls {
    width: 80%;
  }

  .example__controls {
    width: 430px;
  }
}
@media (min-width: 1300px) {
  .example {
    background-color: #ffffff;
  }

  .example__title {
    width: 80%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }

  .example__wrapper {
    outline: 1px solid #000000;
    width: 80%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .example__wrapper-text {
    outline: 1px solid #000000;
  }

  .example__wrapper-info {
    outline: 1px solid #000000;
  }

  .example__wrapper-controls {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
  }

  .example__controls {
    width: 420px;
  }
}
.footer {
  background: #f2f2f2;
}

.footer__logo {
  padding-top: 40px;
  padding-bottom: 25px;
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__wrapper {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer__logo {
    align-self: center;
    text-align: left;
  }

  .footer__social {
    align-self: center;
  }

  .footer__copyright {
    align-self: center;
    text-align: right;
  }
}
@media (min-width: 1300px) {
  .footer__wrapper {
    outline: 1px solid #000000;
    width: 80%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
.contacts {
  background-color: #ffffff;
}

.contacts__wrapper {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__content {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.contacts__info {
  font-family: "Arial", sans-serif;
  line-height: 20px;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contacts__content {
    font-size: 20px;
    line-height: 26px;
    max-width: 175px;
    margin-left: 50px;
  }

  .contacts__info {
    max-width: 150px;
    margin-right: 50px;
  }
}
@media (min-width: 1300px) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: absolute;
    left: 7.64%;
    right: 53.12%;
    top: 23.75%;
    bottom: 26.75%;
    width: 400px;
    background-color: #ffffff;
  }

  .contacts__content {
    font-size: 14px;
  }

  .contacts__info {
    font-size: 16px;
  }
}
.social {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

.social__item {
  width: 20px;
  height: 20px;
  margin-right: 25px;
}
.social__item:nth-child(3n) {
  margin-right: 0;
}

.copyright {
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .copyright {
    justify-content: flex-end;
  }

  .copyright__link {
    margin-right: 20px;
  }
}
.main-products {
  outline: 1px solid #000000;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.main-products__more {
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-products__show-else {
  outline: 1px solid #000000;
  display: block;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.main-products__promo-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.main-products__info {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.main-products__show-all {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .main-products {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }

  .main-products__more {
    outline: 1px solid #000000;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .main-products__promo-title {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 17px;
  }

  .main-products__info {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 20px;
  }

  .main-products__show-all {
    margin-top: auto;
  }
}
@media (min-width: 1300px) {
  .main-products {
    width: 80%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
  }
}
.product {
  outline: 1px solid #000000;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product--add {
  display: block;
}

.product__link {
  align-self: center;
}

.product__wrapper {
  align-self: center;
}

.product__name {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.product__description {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 16px;
}

.product__item {
  display: flex;
  justify-content: space-between;
}

.product__basket {
  display: block;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
}

@media (min-width: 768px) {
  .product {
    display: block;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    background-color: #f2f2f2;
  }

  .product--add {
    padding-top: 25px;
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 60px;
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
  }

  .product__basket {
    width: auto;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .product__name {
    padding-left: 53px;
    padding-right: 47px;
    font-size: 20px;
    text-align: center;
  }

  .product--add > .product__description {
    outline: 1px solid #000000;
    /*width: 45%;*/
  }

  .product > .product__link {
    outline: 1px solid #000000;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
  }

  .product--add > .product__link {
    display: block;
    height: auto;
    /*width: 45%;*/
  }

  .product__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .product__item {
    font-size: 16px;
  }

  .product--add .product__name {
    padding-left: 0;
    margin-bottom: 25px;
    text-align: left;
  }
}
@media (min-width: 1300px) {
  .product {
    padding-left: 40px;
    padding-right: 40px;
  }

  .product--add {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }

  .product__link {
    align-self: center;
  }

  .product__description {
    align-self: center;
  }

  .product__basket {
    width: auto;
    grid-column-start: 3;
    align-self: center;
  }
}
.add-products {
  outline: 1px solid #000000;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-top: 10px;
}

.add-products__title {
  margin-bottom: 20px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.add-products__promo {
  display: block;
  outline: 1px solid #000000;
  height: 100px;
  padding-top: 180px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(104, 183, 56, 0.85);
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .add-products {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .add-products__promo {
    height: 200px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1300px) {
  .add-products {
    width: 80%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 80px;
  }

  .add-products__title {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .add-products__container {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .add-products__promo {
    width: 245px;
    height: 290px;
  }
}
.form {
  outline: 1px solid #000000;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.form__title {
  display: block;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
}

.form__info {
  text-transform: uppercase;
  color: #000000;
}

.form__field {
  outline: 1px solid #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}

.form__field--check {
  margin-bottom: 15px;
}

.form__section {
  margin-bottom: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.form__label {
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 20px;
}

.form__text {
  font-size: 16px;
  text-transform: uppercase;
  flex-grow: 1;
}

.form__radio {
  margin-right: 10px;
}

.form__check {
  margin-right: 10px;
}

.form__comment {
  width: 100%;
  height: 140px;
  padding-left: 18px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 38px;
  text-transform: uppercase;
}

.form__send {
  display: block;
  width: 100%;
  border: none;
}

.form__note {
  text-align: center;
  color: #000000;
}

@media (min-width: 768px) {
  .form {
    width: 90%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }

  .form__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 50px;
  }

  .form__info {
    width: 50%;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__label {
    font-size: 20px;
    line-height: 30px;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;
  }

  .form__field--check {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    margin-bottom: 30px;
  }

  .form__field--check .form__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .form__note {
    text-align: left;
    font-size: 16px;
  }

  /*.form__send {
    width: 283px;
    display: inline-block;
    vertical-align: top;
  }

  .form__note {
    display: inline-block;
    vertical-align: top;
    text-align: right;
  }*/
  .form__button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }
}
@media (min-width: 1300px) {
  .form {
    width: 80%;
    max-width: 1220px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }

  .form__info {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .form__field:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }

  .form__field:nth-child(4) .form__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .form__field:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .form__field--check {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: repeat(4, 1fr);
  }

  .form__field--check .form__title {
    grid-column-end: 5;
  }

  .form__button-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
/*# sourceMappingURL=style.css.map */